<div id="home">
  <div id="navbar">

  </div>
  <div id="title" class="d-flex justify-content-center">
    <div>
      <h1>Headline Movie Index</h1>
      <h3>Subheading</h3>
    </div>
  </div>
  <div id="movies" class="d-flex justify-content-center">
    <div id="container_main" class="d-flex justify-content-center">
      <div id="my_movies" class="me-auto">
        <div id="movie_cards_heading">
          <h2>My Movies</h2>
        </div>
        <div id="movie_cards"  class="d-flex align-content-start flex-wrap">
          <% @movies.each do |movie| %>
            <div class="card-category m-3" style="color: white; width: 18rem; height: 12rem; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <%= link_to "#{movie.title}", movie_path(movie), class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="button_create">
        <%= link_to "Create a movie movie", new_movie_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
